@import url('../public/assets/css/modal.css');
@import url('../public/assets/css/styles.css');

#app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}